* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	min-height: 100%;
}

.modal {
	z-index: 10050;
}

.modal-backdrop.fade {
	z-index: 10040;
}

.toolbar__root {
	height: 72px;
}

.sticky-top.toolbar__root {
	z-index: 10000 !important;
}

.toolbar__container {
	height: 72px;
}

.stage-container {
	overflow:auto;
}

.konvajs-content {
	margin: 0 auto;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	box-shadow:none;
	margin-bottom: 20px;
	background: #e2e2e2;
}

canvas,.konvajs-content,
.stage-container {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.canvas-controller {
	width:100%;
	height:calc(100% - 112px);
}

.canvas-controller__scroll-container {
	width: 100%;
	overflow: scroll;
	overflow:hidden;
	-webkit-overflow-scrolling: touch;
	transition: opacity .3s ease-in-out;
	position: relative;
	z-index: 1;
	height: calc(100vh - 128px);
}

.canvas__html-elements {
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:calc(100% - 112px);
	z-index: 2;
	pointer-events: none;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.canvas__html-shape {
	position: absolute;
	border-radius: 10px;
	will-change: transform;
}

.canvas__html-shape-thumb-start {
	width: 16px;
    height: 16px;
    background: transparent;
    position: absolute;
    right: 0px;
    top: 44px;
	z-index: 2;
	pointer-events: none;
	cursor: pointer;

	width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
	border-right: 12px solid #c2c2c2;
	
	width: 16px;
    height: 16px;
	border-radius: 50%;
	right: -8px;
	border: 2px #000000 solid;
	background: #ffffff;
}

.canvas__html-shape-thumb-end {
	width: 16px;
    height: 16px;
    background: transparent;
    position: absolute;
	left: 0px;
    top: 44px;
	z-index: 2;
	pointer-events: none;
	cursor: pointer;

	width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
	border-left: 12px solid #c2c2c2;
	
	width: 16px;
	height: 16px;
	left: -8px;
	border-radius: 50%;
	border: 2px #000000 solid;
	background: #ffffff;
}

.canvas__html-shape-event {
	width: 16px;
    height: 16px;
    background: transparent;
    position: absolute;
	right: 0px;
    top: 44px;
    z-index: 2;

	border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
	border-right: 12px solid #a000a0;
	
	width: 16px;
	height: 16px;
	right: -8px;
	border-radius: 50%;
	border: 0 transparent none;
	background: #a000a0;
}


.canvas__html-shape-0 {
	top: 44px;
}

.canvas__html-shape-1 {
	top: 68px;
}

.canvas__html-shape-2 {
	top: 92px;
}

.canvas__html-shape--in-bar {
	position: relative;
	margin-bottom: 10px;

	border-radius: 10px;
	overflow: hidden;
	width: 100%;
}

.html-plugin-node {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 100%;
	width: 100%;

	margin: 0 auto;
	position: relative;
}

.html-plugin-node__visibility {
	position: absolute;
    left: 20px;
    top: 15px;
    opacity: .5;
}

.html-plugin-node__h-100 {
	display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 10px;
    height: calc(100%);
    width: 100%;
    margin: 0 auto;
    flex: 1 0 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.html-plugin-node__grid-edit {
	justify-content: flex-start;
	cursor: default;
}

.html-plugin-node--wrap {
	white-space: pre;
}

.canvas__html-shape {
	display: flex;
	flex-direction: column;
}

.canvas__html-shape-bar {
	position: relative;
	pointer-events: none;
	height: 32px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background: #c2c2c2;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
}

.canvas__html-shape-bar-title {
	margin-left: 10px;
}

.canvas__html-shape-title-icon {
	margin-right: 10px;
}

.canvas__html-shape-bar-icon {
	margin-left: auto;
	margin-right: 10px;
	color: #000000;
	pointer-events: auto;
}

.connecting-nodes .canvas__html-shape-bar-icon {
	pointer-events: none;
}

.canvas__html-shape-bar-icon:hover {
	text-decoration: none;
}

.canvas__html-shape-bar--selected {
	background: #a2a2a2;
}

.canvas__html-shape-body {
	position: relative;
	pointer-events: none;
	min-height: 100%;
	height: auto;
	width: 100%;

	flex: 1 1 100%;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connecting-nodes .canvas__html-shape-body {
	pointer-events: none;
}

[data-html-plugin="dataGridNode"] .canvas__html-shape-body,
[data-html-plugin="debugNode"][data-visualizer="default"] .canvas__html-shape-body,
[data-html-plugin="formNode"] .canvas__html-shape-body {
	align-items: flex-start;
	overflow: visible;
}

[data-html-plugin="dataGridNode"] .html-plugin-node,
[data-html-plugin="debugNode"][data-visualizer="default"] .html-plugin-node,
[data-html-plugin="formNode"] .html-plugin-node {
	height: auto;
	min-height: 100%;
}

[data-html-plugin="dataGridNode"] .form,
[data-html-plugin="debugNode"][data-visualizer="default"] .form,
[data-html-plugin="formNode"] .form {
	padding: 0 5px;
}

[data-html-plugin="formNode"] .html-plugin-node {
	justify-content: flex-start;
}

.mouse--moving .canvas__html-shape-body {
	pointer-events: none;
}

.html-plugin-node {
	pointer-events: none;
}
.html-plugin-node > div {
	height: 100%;
	pointer-events: auto;
}

.canvas-controller__scroll-container .html-plugin-node::before {
    content: "";
    display: block;
    position: absolute;
    top: -32px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 40px);
    border: 2px #cccccc solid;
    border-radius: 8px;
}

.has-error .html-plugin-node::before {
	border: 2px #e00000 solid;
}

.html-plugin-node .form {
	pointer-events: auto;
}

[data-html-plugin="executeNode"] .html-plugin-node a {
	pointer-events: auto;
}

.html-plugin-node > div.stage-div {
	height: auto;
}

.connecting-nodes .html-plugin-node > div {
	pointer-events: none;
}

.mouse--moving .html-plugin-node > div {
	pointer-events: none;
}

.connecting-nodes .html-plugin-node .form {
	pointer-events: none;
}

.mouse--moving .html-plugin-node .form {
	pointer-events: none;
}


.html-plugin-node .konvajs-content {
	margin-bottom: 0;
	background: #ffffff;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.taskbar {
	position: fixed;
    top: 72px;
	width: 48px;
	width: 128px;
    background: #f8f8f8;
    left: 0;
	height: calc(100vh - 127px);
	padding: 5px;
	z-index: 10000;
	
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	align-items: center;
	padding-top: 10px;

	overflow: hidden;
	overflow-y: scroll;
	
	-ms-overflow-style: none;
}

.taskbar::-webkit-scrollbar {
	display: none;
}

.taskbar__task {
	background: transparent;	
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 5px;
    border: 1px solid #e2e2e2;
    margin-bottom: 2px;
}

.taskbar__task-icon {
	margin-left: auto;
}

.taskbar__task svg {
	flex: 0 0 auto;
    justify-content: flex-end;
    margin-left: auto;
}

.taskbar__taskname {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	flex: 0 1 auto;
	font-size: 12px;
}
.taskbar__task-text {
	fill: #000000;
}

.taskbar__task-circle {
	fill: #ffffff;
	stroke-width: 2;
	stroke: #000000;
}


.ui-controls-bar {
	position: fixed;
    top: 72px;
    width: 150px;
    background: #000000;
    right: 0;
    height: calc(100vh - 127px);
	z-index: 10000;
	
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	align-items: center;
	padding-top: 10px;

	overflow: hidden;
	overflow-y: scroll;
	
	-ms-overflow-style: none;
	padding: 10px;
	padding-left: 5px;
	padding-right: 15px;
}

.ui-controls-bar__small-width {
	width: 48px;
	overflow: visible;
}

.MuiSlider-valueLabel {
	transform: translateY(9px) translateX(-20px) rotate(-90deg) !important;
	z-index: 100000;
}

.MuiSlider-valueLabel span span {
	transform: rotate(135deg);
}

.ui-controls-bar::-webkit-scrollbar {
	display: none;
}

.ui-controls-bar__debug-info {
	white-space: pre-wrap;
	color: white;
	font-size: 12px;
	overflow-x: scroll;
	width: 100%;
	height: 100%;
}

.ui-controls-bar__debug-info::-webkit-scrollbar {
	display: none;
}

.ui-controls-bar__debug-info-content {
	width: auto;
    display: block;
    white-space: pre;
}


.debug-info {
	position: fixed;
    bottom: 72px;
    width: 150px;
    background: #000000;
    right: 60px;
    height: 200px;
	z-index: 9990;
	
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	align-items: center;
	padding-top: 10px;

	overflow: hidden;
	overflow-y: scroll;
	
	-ms-overflow-style: none;
	padding: 10px;
	padding-left: 5px;
	padding-right: 15px;
}

.debug-info--fullscreen {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	right: auto;
	left: 20px;
	top: 20px;
	bottom: auto;
	z-index: 20000;
	padding: 20px;
}

.debug-info::-webkit-scrollbar {
	display: none;
}

.debug-info__debug-info {
	white-space: pre-wrap;
	color: white;
	font-size: 12px;
	overflow-x: scroll;
	width: 100%;
	height: 100%;
}

.debug-info__debug-info::-webkit-scrollbar {
	display: none;
}

.debug-info__debug-info-content {
	width: auto;
    display: block;
    white-space: pre;
}

input.form-control,
textarea.form-control {
	font-family: 'Fira Code';
}
.debug-info__debug-info-content {
	font-family: 'Fira Code';
}

@media only screen and (max-width: 1023px) {

	.taskbar {
		bottom: 56px;
		height: auto;
		display: none;
	}

	.ui-controls-bar {
		bottom: 56px;
		height: auto;
	}
}

.ui-controls-bar  .canvas__html-shape--in-bar {
	height: auto;
	overflow-y: visible;
	background: white;
}

.ui-controls-bar .h1 {
	font-size: 24px;
}

.ui-controls-bar .html-plugin-node {
	align-items: flex-start;
}

.ui-controls-bar .canvas__html-shape-body {
	height: auto;
	overflow:-y visible;
}

@media only screen and (max-width: 1023px) {
	.toolbar__container .form-inline {
		flex-direction: column;
		align-items: flex-start;		
	}

	.toolbar__container .form-control:first-child {
		margin-top: 10px;
	}
	
	.toolbar__container .form-control {
		margin-bottom: 10px;
	}

	.toolbar__container .btn {
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 10px;
	}

	.toolbar__container .task-selector {
		margin-bottom: 10px;
	}
}

.html-plugin-node--xycanvas .konvajs-content {
	left: 1px;
}

.xy-canvas__legend {
	position: absolute;
	right: 15px;
    top: 15px;
	background: rgba(0,0,0,0.2);
	padding: 5px;
	height: auto !important;
}

.xy-canvas__text {
	position: relative;
	top: auto;
}


.data-grid__row-title {
    width: 50px;
    text-align: center;
	border: 1px #808080 solid;
	background: #f0f0f0;
	border-radius: 4px;
}

.data-grid__cell-title {
	background: #f0f0f0;
	border: 1px #808080 solid;
	border-radius: 4px;
	height: 38px;
	vertical-align: middle;
}

.data-grid__cell-add-column {
	width: 24px;
}

.data-grid__cell-add-row {
	height: 24px;
}

.ui-view__html-elements {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ui-view__html-elements .html-plugin-node .konvajs-content {
	background: #f2f2f2;
}
.ui-view__html-elements .html-plugin-node {
	background: #f2f2f2 !important;
}

.ui-view__html-elements .canvas__html-shape {
	background: #f2f2f2;
	min-width: 300px;
	max-width: 100%;
	border-radius: 0;
}

.layout__droparea {
	border: 4px dashed #e0e0e0;
	padding: 10px;
	margin-bottom: 10px;
}

.layout__droparea.hovering {
	border: 4px dashed black;
}

.layout__draggable {
	border: 1px solid black;
	margin: 2px;
	padding: 5px;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 10px;
}

.layout__draggable .canvas__html-shape {
	max-width: 100%;
}
.draggable-element .canvas__html-shape {
	max-width: 100%;
}

.layout-container {
	margin: 5px;
	border: #f0f0f0 1px solid;
	padding: 5px;
}

/*
.ui-view-layout__container {
	background: #e2e2e7;
	padding: 20px;
}
*/

.ui-view-layout__container-row {
	display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

.ui-view-layout__container .canvas__html-shape:not([data-node-type="DebugTask"]) {
	min-height: auto !important;
	width: 100% !important;
}


.ui-view-layout__container .canvas__html-shape[data-html-plugin="PieChartVisualizer"] {
	min-height: 300px !important;	
}

.container__ui-view .canvas__html-shape[data-node-visualizer="list"],
.container__ui-view .canvas__html-shape[data-node-visualizer="text"],
.container__ui-view .canvas__html-shape[data-node-visualizer="number"],
.ui-view-layout__container .canvas__html-shape[data-node-visualizer="text"],
.ui-view-layout__container .canvas__html-shape[data-node-visualizer="number"] {
	min-height: auto !important;
}

.ui-view-layout__container .canvas__html-shape {
	background-color: transparent !important;
}

.ui-view-layout__container .canvas__html-shape-body {
	background-color: transparent !important;
}

.ui-view-layout__container .html-plugin-node {
	height: auto;
	padding: 0;
	background-color: transparent !important;
	text-align: center;
}

.ui-view-layout__container [data-html-plugin="formNode"] .html-plugin-node {
	text-align: left;
}

.ui-view-layout__container .html-plugin-node__h-100 {
	height: 100%;
	position: relative;
}

.ui-view-layout__container .canvas__html-shape[data-node-type="SliderTask"] .html-plugin-node > div {
	padding: 0 30px;
}


.ui-view-layout__container .canvas__html-shape[data-node-type="InputTask"] .overflow-y-scroll {
	overflow-y: auto;
}
.ui-view-layout__container .canvas__html-shape[data-node-type="InputTask"] .form-group {
	padding: 2px;
}

#flowstudio-root {
	min-height: 100vh;
	overflow: hidden;
}

#flowstudio-root .container-fluid {
	height: calc(100% - 100px);
    overflow-y: hidden;
}


#flowstudio-root .container-fluid .ui-editor__row {
	height: calc(100vh - 128px);
	overflow: hidden;
}

.layout__dropzone {
	overflow-y: auto;
	height: calc(100% - 64px);
	overflow-x: hidden;
	scroll-behavior: smooth;
	overscroll-behavior-y: contain;

}

.layout__draggables {
	overflow-y: auto;
	height: calc(100% - 64px);
	overflow-x: hidden;
	scroll-behavior: smooth;
	overscroll-behavior-y: contain;
}

.layout__draggables:before {
	content: "";
	display: block;
	padding-bottom: 2px;
}

.draggable-element.hovering {
	border-top: #000000 dashed 2px;
}

@media (max-width: 767.98px) {
	.layout-container__layout2columns-col-2 {
		margin-top: 40px;
	}
}

.container__ui-view [data-node-visualizer="text"] .html-plugin-node,
.container__ui-view [data-node-visualizer="list"] .html-plugin-node {
	align-items: flex-start;
	text-align: left
}

.debug-info__window-maximize {
	color: #ffffff;
	position: absolute;
	top: 5px;
	right: 5px;
}

.debug-info__window-maximize:hover {
	color: #ffffff;
}

.edit-popup__json {
	min-height: 500px;
}

[data-task="FormTask"].untouched .html-plugin-node .form {
	opacity: 0.5;
	pointer-events: none;
}

[data-task="DebugTask"].untouched .html-plugin-node {
	display: none;
}

.container__ui-view [data-task="FormTask"].untouched {
	display: none;
}

.container__ui-view [data-task="DebugTask"].untouched {
	display: none;
}

.container__ui-view [data-task="DebugTask"][data-visualizer="animatedgridcanvas"].untouched,
.container__ui-view [data-task="DebugTask"][data-visualizer="gridcanvas"].untouched,
.container__ui-view [data-task="DebugTask"][data-visualizer="xycanvas"].untouched {
	display: block;
}

[data-task="DebugTask"][data-visualizer="animatedgridcanvas"].untouched .html-plugin-node ,
[data-task="DebugTask"][data-visualizer="gridcanvas"].untouched .html-plugin-node ,
[data-task="DebugTask"][data-visualizer="xycanvas"].untouched .html-plugin-node  {
	display: block;
}

.container__background {
	background: #f2f2f2;
}

.container__ui-view .ui-view-layout__container-row {
	background: white;
	padding: 40px;
}

.form-control__object-list-node {
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative;
}

.form-control__object-list-node-controls {
	padding: 20px;
}

.form-control__object-list-node-delete {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 1;
}