@import "bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.test {
		@apply tw-px-4 tw-py-2 tw-rounded tw-font-semibold tw-bg-gray-200 tw-text-black;
	}
}

* {
	box-sizing: border-box;
}

:root {
	--thumb-color : #000;
	--illustrate-color: #a2a2a2;
}

body, html {
	height: 100vh;
	max-height: 100vh;
	min-height: 100vh;
	overflow: hidden;
	overscroll-behavior-x: none;
}

@supports (-webkit-touch-callout: none) {
	body, html {
		height: -webkit-fill-available;
		max-height: -webkit-fill-available;
		min-height: -webkit-fill-available;
	}
}

img {
	max-width: 100%;
}

#loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	z-index: 100000;
	background: #f2f2f2;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loading.loaded {
	opacity: 0;
}
#loading.hidden {
	display: none;
	z-index: -1;
}

.text-white a,
.text-white a:hover {
	color: #ffffff;
}

.modal {
	z-index: 10050;
}

.modal-backdrop.fade {
	z-index: 10040;
	pointer-events: none;
}

.toolbar__root {
	height: 72px;
	position: absolute;
	top: 0;
	height: 72px;
	z-index: 10000;
	width: 100%;
}

.sticky-top.toolbar__root {
	z-index: 10000 !important;
}

.toolbar__container {
	height: 72px;
	padding-top: 8px;
}

.stage-container {
	overflow: hidden;
	height: 100%;
}

.konvajs-content {
	margin: 0 auto;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	box-shadow:none;
	margin-bottom: 20px;
	background: #e2e2e2;
}

.not.stage-container {

	transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0, 0, 0);
}
.stage-container canvas,
.not.stage-container .konvajs-content{
	transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1px;
	transform: translate3d(0, 0, 0);
	will-change: transform;
}
.stage-container.konvajs-content {
	min-height: 100% !important;
}
.canvas-controller {
	width:100%;
	height:calc(100% - 112px);
}

.canvas-controller__scroll-container {
	width: 100%;
	overflow: scroll;
	overflow:hidden;
	-webkit-overflow-scrolling: touch;
	transition: opacity .15s ease-in-out;
	position: relative;
	z-index: 1;
	height: 100vh;

	& > div {
		width: 100%;
		height: 100%;
	}
}
.dummy {
	height: calc(100% - 70px);
	top: 70px;
}

.canvas__html-elements {
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:calc(100%);
	z-index: 2;
	pointer-events: none;
	transform-origin: top left;
}

.composite {
	transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1px;
	transform: translate3d(0, 0, 0);
}

.canvas__html-shape {
	position: absolute;
	border-radius: 10px;
	transform-origin: top left;
	height: auto;
}

.canvas__html-shape.composite-hint {
	will-change: transform;
	perspective: 1px;
}

.canvas__html-shape-thumb-start {
	width: 10px;
	height: 16px;
	background: transparent;
	position: absolute;

	top: 44px;
	right: -6px;
	z-index: 2;
	pointer-events: auto;
	//cursor: pointer;

	border-radius: 3px;

	border: 0 none transparent;
	background: var(--thumb-color);
}

.canvas__html-shape-thumb-start::before {
	content: "";
	position: absolute;
	top: -2px;
	z-index: 2;
	
	width: 14px;
	height: 20px;
	border-radius: 6px;
	right: -2px;
	border: 3px #e2e2e2 solid;
	background: transparent;
}

.canvas__html-shape-thumb-start::after {
	content: "";
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: -24px;
	left: -21px;
	clip-path: ellipse(30% 100% at 72% 50%);
}

.canvas__html-shape-thumb-startbottom {
	position: absolute;
	left: calc(50% - 8px);
	bottom: -6px;
	z-index: 2;
	pointer-events: auto;
	//cursor: pointer;
	
	width: 16px;
	height: 10px;
	border-radius: 3px;
	border: 0 none transparent;
	background: var(--thumb-color);
}
.canvas__html-shape-thumb-startbottom::before {
	content: "";
	position: absolute;
	top: -2px;
	z-index: 2;
	
	width: 20px;
	height: 14px;
	border-radius: 6px;
	right: -3px;
	border: 3px #e2e2e2 solid;
	background: transparent;
}

.canvas__html-shape-thumb-startbottom::after {
	content: "";
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: -24px;
	left: -24px;
	clip-path: ellipse(100% 30% at 50% 72%);
}

.canvas__html-shape-thumb-end {
	width: 10px;
	height: 16px;
	background: transparent;
	position: absolute;	
	left: -7px;
	top: 44px;
	z-index: 2;
	pointer-events: auto;
	//cursor: pointer;
	
	border-radius: 3px;

	border: 0 none transparent;
	background: var(--thumb-color);
}

.canvas__html-shape-thumb-end::before {
	content: "";
	position: absolute;
	top: -2px;
	z-index: 2;
	
	width: 14px;
	height: 20px;
	border-radius: 6px;
	right: -2px;
	border: 3px #e2e2e2 solid;
	background: transparent;
}

.canvas__html-shape-thumb-end::after {
	content: "";
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: -24px;
	left: -28px;
	clip-path: ellipse(67% 100% at -6% 50%);
}



.canvas__html-shape-thumb-endtop {
	background: transparent;
	position: absolute;
	left: calc(50% - 8px);
	top: -6px;
	z-index: 2;
	pointer-events: auto;
	//cursor: pointer;
	
	width: 16px;
	height: 10px;
	border-radius: 3px;
	border: 0 transparent none;
	background: var(--thumb-color);
}

.canvas__html-shape-thumb-endtop::before {
	content: "";
	position: absolute;
	top: -2px;
	z-index: 2;
	
	width: 20px;
	height: 14px;
	border-radius: 6px;
	right: -2px;
	border: 3px #e2e2e2 solid;
	background: transparent;
}

.canvas__html-shape-thumb-endtop::after {
	content: "";
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: -24px;
	left: -24px;
	clip-path: ellipse(100% 67% at 50% -6%);
}

.canvas__html-shape--no-inputs .canvas__html-shape-thumb-endtop,
.canvas__html-shape--no-inputs .canvas__html-shape-thumb-end {
	display: none;
}

.canvas__html-shape--no-outputs .canvas__html-shape-thumb-startbottom,
.canvas__html-shape--no-outputs .canvas__html-shape-thumb-start {
	display: none;
}


.canvas__html-shape-event {
	width: 16px;
	height: 16px;
	background: transparent;
	position: absolute;
	right: 0px;
	top: 80px;
	z-index: 3;
	
	width: 16px;
	height: 16px;
	right: -8px;
	border-radius: 50%;
	border: 0 transparent none;
	background: #e2e2e2;

	pointer-events: auto;
}

.canvas__html-shape-event:before {
	content: "";
	border: 2px dashed black;
	display: block;
	position: absolute;
	top: -4px;
	left: -4px;
	width: 24px;
	height: 24px;
	z-index: 2;
	border-radius: 50%;
	background: #e2e2e2;
}

.canvas__html-shape-event:after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
	z-index: 3;
	border-radius: 50%;
	background: black;
}


.canvas__html-shape-0 {
	top: 44px;
}

.canvas__html-shape-1 {
	top: 80px;
}

.canvas__html-shape-2 {
	top: 98px;
}

.canvas__html-shape--in-bar {
	position: relative;
	margin-bottom: 10px;

	border-radius: 10px;
	overflow: hidden;
	width: 100%;
}

.html-plugin-node {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 100%;
	width: 100%;

	margin: 0 auto;
	position: relative;

	transition: filter 0.15s ease-in-out, background-color 0.15s ease-in-out;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;

	user-select: none;

	&__hint {
		display: block;
		position: absolute;
		bottom: 100%;
		min-width: 100%;
		width: auto;
		margin-bottom: 25px;
		border: 1px solid black;
		background: #ffffff;
		padding: 10px;
		border-radius: 20px;
		color: black;
		z-index: 10;
		font-weight: 700;
		font-size: 1.7rem;
		text-align: center;
		line-height: 1.1;	
		opacity: 0;
		transition: opacity 0.25s ease-in-out;
		pointer-events: none;
	}

	.form-group label:not(.form-check-label) {
		margin-bottom: 5px;
    	margin-top: 5px;
	}
}

.canvas__html-shape-bar:hover {
	& + .canvas__html-shape-body {
		.html-plugin-node__hint {
			opacity: 1;				
		}
	}
}

.canvas__html-shape.selected {
	filter: brightness(0.85)  drop-shadow(0px 0px 20px rgba(0,0,0,0.25));
}

.html-plugin-node__visibility {
	position: absolute;
	left: 20px;
	top: 15px;
	opacity: .5;
}

.html-plugin-node__h-100 {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	padding: 10px;
	height: calc(100%);
	width: 100%;
	margin: 0 auto;
	flex: 1 0 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.html-plugin-node--animatedgridcanvashtml-plugin-node__h-100 {
	padding: 10px;
}

.html-plugin-node__grid-edit {
	justify-content: flex-start;
	cursor: default;
}

.html-plugin-node--wrap {
	white-space: pre;
}

.canvas__html-shape {
	display: flex;
	flex-direction: column;
}

.canvas__html-shape-bar {
	position: relative;
	pointer-events: auto;
	height: 26px;
	min-height: 26px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background: #c2c2c2;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
	user-select: none;
	cursor: pointer;
}

._mouse--moving .canvas__html-shape-bar {
	pointer-events: none;
}

.canvas__html-shape-bar-title {
	margin-left: 10px;
}

.canvas__html-shape-title-icon {
	margin-right: 10px;
}

.canvas__html-shape-bar-icon {	
	margin-right: 10px;
	color: #000000;
	pointer-events: auto;
}

._mouse--moving .canvas__html-shape-bar-icon {
	pointer-events: none;
}

.canvas__html-shape-bar-icon:first-of-type {
	margin-left: auto;
}

.connecting-nodes .canvas__html-shape-bar-icon {
	pointer-events: none;
}

.canvas__html-shape-bar-icon:hover {
	text-decoration: none;
}

.canvas__html-shape-bar--selected {
	background: #a2a2a2;
}

.canvas__html-shape-body {
	position: relative;
	pointer-events: auto;
	min-height: 100%;
	height: auto;
	width: 100%;

	flex: 1 1 100%;
	background: white;
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
}

._connecting-nodes .canvas__html-shape-body {
	pointer-events: none;
}

[data-html-plugin="debugNode"][data-visualizer="default"] .html-plugin-node {
	/*white-space: normal;*/
	
	white-space: pre-wrap;
	word-break: break-word;
}

[data-html-plugin="customNode"] .canvas__html-shape-body {
	height: 100vh;
}

[data-html-plugin="customNode"] .canvas__html-shape-body,
[data-html-plugin="dataGridNode"] .canvas__html-shape-body,
[data-html-plugin="debugNode"][data-visualizer="default"] .canvas__html-shape-body,
[data-html-plugin="formNode"] .canvas__html-shape-body {
	/*align-items: flex-start;*/
	overflow: visible;
	/*background: transparent;*/
}

[data-html-plugin="customNode"] .html-plugin-node,
[data-html-plugin="dataGridNode"] .html-plugin-node,
[data-html-plugin="debugNode"][data-visualizer="default"] .html-plugin-node,
[data-html-plugin="formNode"] .html-plugin-node {
	height: auto;
	min-height: 100%;
}

[data-html-plugin="customNode"] .html-plugin-node {
	height: 100%;
	padding: 0;
}

[data-html-plugin="dataGridNode"] .form,
[data-html-plugin="debugNode"][data-visualizer="default"] .form,
[data-html-plugin="formNode"] .form {
	padding: 0 5px;
}

[data-html-plugin="formNode"] .html-plugin-node {
	justify-content: flex-start;
}

._mouse--moving .canvas__html-shape-body {
	pointer-events: none;
}

.html-plugin-node {
	pointer-events: none;
	z-index: 1;
}

.canvas__html-shape:not([data-html-plugin="customNode"]) .html-plugin-node > div {
	height: 100%;
}

.html-plugin-node > div {
	pointer-events: auto;
}
._mouse--moving .html-plugin-node > div {
	pointer-events: none;
}


.canvas-controller__scroll-container .html-plugin-node::before {
	content: "";
	display: block;
	position: absolute;
	top: -27px;
	left: 0px;
	width: 100%;
	height: calc(100% + 29px);
	border: 2px transparent solid;
	border-radius: 8px;
	transition: border 0.2s ease-in-out;
	z-index: 2;
}


.canvas-controller__scroll-container .form .html-plugin-node::before {
	display: none;
}

.has-error .html-plugin-node::before {
	border: 2px #e00000 solid;
}

.html-plugin-node .form {
	pointer-events: auto;
}

[data-html-plugin="executeNode"] .html-plugin-node a {
	pointer-events: auto;
}

.html-plugin-node > div.stage-div {
	height: auto;
}

.connecting-nodes .canvas__html-shape-body {
	//cursor: pointer;
}


._connecting-nodes .html-plugin-node > div {
	pointer-events: none;
}

._mouse--moving .html-plugin-node > div {
	pointer-events: none;
}

._connecting-nodes .html-plugin-node .form {
	pointer-events: none;
}

._mouse--moving .html-plugin-node .form {
	pointer-events: none;
}


.html-plugin-node .konvajs-content {
	margin-bottom: 0;
	background: #ffffff;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.taskbar {
	position: absolute;
	top: 72px;
	width: 48px;
	width: 128px;
	background: #f8f8f8;
	left: 0;
	height: calc(100% - 72px);
	padding: 5px;
	z-index: 10000;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;

	overflow: hidden;
	overflow-y: scroll;
	
	-ms-overflow-style: none;
}

.taskbar::-webkit-scrollbar {
	display: none;
}

.taskbar__task {
	background: transparent;	
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 5px;
	border: 1px solid #e2e2e2;
	margin-bottom: 2px;
	min-height: 32px;
}

.taskbar__task-icon {
	margin-left: auto;
}

.taskbar__task svg {
	flex: 0 0 auto;
	justify-content: flex-end;
	margin-left: auto;
}

.taskbar__taskname {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	flex: 0 1 auto;
	font-size: 12px;
}
.taskbar__task-text {
	fill: #000000;
}

.taskbar__task-circle {
	fill: #ffffff;
	stroke-width: 2;
	stroke: #000000;
}

.taskbar-draggable {
	width: 100%;
	border: 0 none transparent;
	opacity: 1 !important;
	padding: 0 !important;
	touch-action: none;
	outline: none !important;
	background: transparent;
}

.taskbar__task-dragging {
	z-index: 20000;
}

.taskbar__task-dragging .taskbar__task {
	border-color: #808080;
	background: #f2f2f2;
}


.ui-controls-bar {
	position: fixed;
	top: 72px;
	width: 150px;
	background: #000000;
	right: 0;
	height: calc(100% - 127px);
	z-index: 10000;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;

	overflow: hidden;
	overflow-y: scroll;
	
	-ms-overflow-style: none;
	padding: 10px;
	padding-left: 5px;
	padding-right: 15px;
}

.ui-controls-bar__small-width {
	width: 48px;
	overflow: visible;
}

.MuiSlider-valueLabel {
	transform: translateY(9px) translateX(-20px) rotate(-90deg) !important;
	z-index: 100000;
}

.MuiSlider-valueLabel span span {
	transform: rotate(135deg);
}

.ui-controls-bar::-webkit-scrollbar {
	display: none;
}

.ui-controls-bar__debug-info {
	white-space: pre-wrap;
	color: white;
	font-size: 12px;
	overflow-x: scroll;
	width: 100%;
	height: 100%;
}

.ui-controls-bar__debug-info::-webkit-scrollbar {
	display: none;
}

.ui-controls-bar__debug-info-content {
	width: auto;
	display: block;
	white-space: pre;
}


.debug-info {
	position: fixed;
	bottom: 10px;
	width: 150px;
	background: #000000;
	right: 10px;
	height: 200px;
	z-index: 9990;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;

	overflow: hidden;
	overflow-y: scroll;
	
	-ms-overflow-style: none;
	padding: 10px;
	padding-left: 5px;
	padding-right: 15px;
}

.debug-info--fullscreen {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	right: auto;
	left: 20px;
	top: 20px;
	bottom: auto;
	z-index: 20000;
	padding: 20px;
}

.debug-info::-webkit-scrollbar {
	display: none;
}

.debug-info__debug-info {
	white-space: pre-wrap;
	color: white;
	font-size: 12px;
	overflow-x: scroll;
	width: 100%;
	height: 100%;
}

.debug-info__debug-info::-webkit-scrollbar {
	display: none;
}

.debug-info__debug-info-content {
	width: auto;
	display: block;
	white-space: pre;
}

@media only screen and (max-width: 1023px) {
	.debug-info:not(.debug-info--fullscreen) {
		height: 20px;
		width: 50px;
	}

	.debug-info__debug-info-content {
		display: none;
	}

	.debug-info--fullscreen .debug-info__debug-info-content {
		display: block;
	}
}

input.form-control,
textarea.form-control {
	font-family: 'Fira Code';
}

textarea.form-control {
	white-space: nowrap;
}
textarea.form-control:disabled {
	white-space: pre;
}

.edit-node-popup textarea.form-control {
	min-height: 500px;
} 

.debug-info__debug-info-content {
	font-family: 'Fira Code';
}

.form-inline label {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.taskbar {
	touch-action: auto;
}

.taskbar__ribbon {
	touch-action: auto;
	display: flex;
	flex-direction: column;		
	flex: 1 1 100%;
	width: 100%;
	padding-left: 10px;
}

.taskbar__ribbon::before {
	content: "";
	display: block;
	width: 8px;
	position: fixed;
	top: 75px;
	bottom: 5px;
	left: 2px;
	background-image: linear-gradient(0deg, #ffffff 20%, #999999 20%, #999999 50%, #ffffff 50%, #ffffff 70%, #999999 70%, #999999 100%);
	background-size: 10.00px 10.00px;
	border: 1px #999999 solid;
	border-radius: 4px;
	touch-action: pan-y;
	filter: drop-shadow(-4px 4px 6px #808080);
}

@media only screen and (max-width: 1023px) {

	.taskbar {
		bottom: 56px;
		height: auto;
		display: none;

		display: flex;
		width: 100%;
		height: 56px;
		flex-direction: row;
		overflow-x: scroll;

		touch-action: auto;
		overflow-y: hidden;
		overscroll-behavior-y: none;
	}

	.taskbar::before{
		content: "";
		position: fixed;
		display: block;
		top: 88px;
		height: 40px;
		right: 0;
		width: 50px;
		background: black;
		background: linear-gradient(to right, rgba(255,255,255,0) 30%,rgba(255,255,255,1) 100%);
	}

	.taskbar__ribbon {
		display: flex;
		flex-direction: row;		
		flex: 1 1 auto;
		width: auto;
		padding-left: 0;
		margin-top: 13px;
		overscroll-behavior-y: none;	
	}

	.taskbar__ribbon::before {
		content: "";
		display: block;
		height: 12px;
		width: auto;
		position: fixed;
		top: 74px;
		left: 2px;
		right: 2px;
		background-image: linear-gradient(90deg, #ffffff 20%, #999999 20%, #999999 50%, #ffffff 50%, #ffffff 70%, #999999 70%, #999999 100%);
		background-size: 10.00px 10.00px;
		border-radius: 4px;
		touch-action: pan-x;		
	}

	.taskbar-draggable {
		width: auto;
	}

	.taskbar__task {
		width: 128px;
		text-overflow: ellipsis;
		margin-right: 5px;
	}

	.taskbar__taskname {
		margin-right: 5px;
	}

	.ui-controls-bar {
		bottom: 56px;
		height: auto;
	}

	.toolbar__container .navbar-collapse {
		display: flex !important;
	}

	.toolbar__container .form-inline {
		flex-direction: row;
		overflow-x: scroll;	
		width: 100%;	
	}

	.toolbar__container .form-inline::-webkit-scrollbar {
		display: none;
	}
}

.ui-controls-bar  .canvas__html-shape--in-bar {
	height: auto;
	overflow-y: visible;
	background: white;
}

.ui-controls-bar .h1 {
	font-size: 24px;
}

.ui-controls-bar .html-plugin-node {
	align-items: flex-start;
}

.ui-controls-bar .canvas__html-shape-body {
	height: auto;
	overflow:-y visible;
}

#basic-navbar-nav {
	overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#basic-navbar-nav::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none;
}

.toolbar__form {
	flex: 1 1 auto;
	display: flex;
	justify-items: flex-start;
	align-items: center;
	white-space: nowrap;
	overflow-x: auto;
}
@media only screen and (max-width: 1023px) {
	.disabled__toolbar__container .form-inline {
		flex-direction: column;
		align-items: flex-start;		
	}

	.disabled_toolbar__container .form-control:first-child {
		margin-top: 10px;
	}
	
	.disabled_toolbar__container .form-control {
		margin-bottom: 10px;
	}

	.disabled_toolbar__container .btn {
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 10px;
	}

	.disabled_toolbar__container .task-selector {
		margin-bottom: 10px;
	}
}

.html-plugin-node--xycanvas .konvajs-content {
	left: 1px;
}

.xy-canvas__legend {
	position: absolute;
	right: 15px;
	top: 15px;
	background: rgba(0,0,0,0.2);
	padding: 5px;
	height: auto !important;
}

.xy-canvas__text {
	position: relative;
	top: auto;
}


.data-grid__row-title {
	width: 50px;
	text-align: center;
	border: 1px #808080 solid;
	background: #f0f0f0;
	border-radius: 4px;
}

.data-grid__cell-title {
	background: #f0f0f0;
	border: 1px #808080 solid;
	border-radius: 4px;
	height: 38px;
	vertical-align: middle;
}

.data-grid__cell-add-column {
	width: 24px;
}

.data-grid__cell-add-row {
	height: 24px;
}

.ui-view__html-elements {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ui-view__html-elements .html-plugin-node .konvajs-content {
	background: #f2f2f2;
}
.ui-view__html-elements .html-plugin-node {
	background: #f2f2f2 !important;
}

.ui-view__html-elements .canvas__html-shape {
	background: #f2f2f2;
	min-width: 300px;
	max-width: 100%;
	border-radius: 0;
}

.layout__droparea {
	border: 4px dashed #e0e0e0;
	padding: 10px;
	margin-bottom: 10px;
}

.layout__droparea.hovering {
	border: 4px dashed black;
}

.layout__draggable {
	border: 1px solid black;
	margin: 2px;
	padding: 5px;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 10px;
}

.layout__draggable .canvas__html-shape {
	max-width: 100%;
}
.draggable-element .canvas__html-shape {
	max-width: 100%;
}

.layout-container {
	margin: 5px;
	border: #f0f0f0 1px solid;
	padding: 5px;
}

/*
.ui-view-layout__container {
	background: #e2e2e7;
	padding: 20px;
}
*/

.ui-view-layout__container-row {
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
}

.ui-view-layout__container .canvas__html-shape:not([data-node-type="DebugTask"]) {
	min-height: auto !important;
	width: 100% !important;
}


.ui-view-layout__container .canvas__html-shape[data-html-plugin="PieChartVisualizer"] {
	min-height: 300px !important;	
}

.container__ui-view .canvas__html-shape[data-visualizer="list"],
.container__ui-view .canvas__html-shape[data-visualizer="text"],
.container__ui-view .canvas__html-shape[data-visualizer="number"],
.ui-view-layout__container .canvas__html-shape[data-visualizer="text"],
.ui-view-layout__container .canvas__html-shape[data-visualizer="number"] {
	min-height: auto !important;
}

.ui-view-layout__container .canvas__html-shape {
	background-color: transparent !important;
}

.ui-view-layout__container .canvas__html-shape-body {
	background-color: transparent !important;
}

.ui-view-layout__container .html-plugin-node {
	height: auto;
	padding: 0;
	background-color: transparent !important;
	text-align: center;
}

.ui-view-layout__container [data-html-plugin="formNode"] .html-plugin-node {
	text-align: left;
}

.ui-view-layout__container .html-plugin-node__h-100 {
	height: 100%;
	position: relative;
}

.ui-view-layout__container .canvas__html-shape[data-node-type="SliderTask"] .html-plugin-node > div {
	padding: 0 30px;
}


.ui-view-layout__container .canvas__html-shape[data-node-type="InputTask"] .overflow-y-scroll {
	overflow-y: auto;
}
.ui-view-layout__container .canvas__html-shape[data-node-type="InputTask"] .form-group {
	padding: 2px;
}

.ui-view-layout__container [data-task="FormTask"].untouched .html-plugin-node .form,
.ui-view-layout__container [data-task="FormTask"] .html-plugin-node .form {
	pointer-events: auto;
}

#flowstudio-root {
	min-height: 100%;
	overflow: hidden;
}

#flowstudio-root .container-fluid {
	height: calc(100% - 100px);
	overflow-y: hidden;
}


#flowstudio-root .container-fluid .ui-editor__row {
	height: calc(100vh - 128px);
	overflow: hidden;
}

.layout__dropzone {
	overflow-y: auto;
	height: calc(100% - 64px);
	overflow-x: hidden;
	scroll-behavior: smooth;
	overscroll-behavior-y: contain;

}

.layout__draggables {
	overflow-y: auto;
	height: calc(100% - 64px);
	overflow-x: hidden;
	scroll-behavior: smooth;
	overscroll-behavior-y: contain;
}

.layout__draggables:before {
	content: "";
	display: block;
	padding-bottom: 2px;
}

.draggable-element.hovering {
	border-top: #000000 dashed 2px;
}

@media (max-width: 767.98px) {
	.layout-container__layout2columns-col-2 {
		margin-top: 40px;
	}
}

.container__ui-view [data-node-visualizer="text"] .html-plugin-node,
.container__ui-view [data-node-visualizer="list"] .html-plugin-node {
	align-items: flex-start;
	text-align: left
}

.debug-info__window-maximize {
	color: #ffffff;
	position: absolute;
	top: 5px;
	right: 5px;
}

.debug-info__window-maximize:hover {
	color: #ffffff;
}

.edit-popup__json {
	min-height: 500px;
}

/* 0.5 */
[data-task="FormTask"].untouched .html-plugin-node .form {
	opacity: 1;
	pointer-events: none;
	
}

[data-task="FormTask"].untouched .html-plugin-node {
	filter: brightness(.91);
}

[data-task="DebugTask"].untouched .html-plugin-node {
	display: none;
}

.container__ui-view [data-task="FormTask"].untouched {
	display: none;
}

.container__ui-view [data-task="DebugTask"].untouched {
	display: none;
}

.canvas-controller__scroll-container [data-task="DebugTask"][data-visualizer="animatedgridcanvas"] {
	max-width: none;
}

.ui-view-layout__container [data-task="DebugTask"][data-visualizer="animatedgridcanvas"] canvas {
	max-width: 100%;
}

.container__ui-view [data-task="DebugTask"][data-visualizer="number"].untouched,
.container__ui-view [data-task="DebugTask"][data-visualizer="color"].untouched,
.container__ui-view [data-task="DebugTask"][data-visualizer="richtext"].untouched,
.container__ui-view [data-task="DebugTask"][data-visualizer="animatedgridcanvas"].untouched,
.container__ui-view [data-task="DebugTask"][data-visualizer="gridcanvas"].untouched,
.container__ui-view [data-task="DebugTask"][data-visualizer="xycanvas"].untouched {
	display: flex;
}

.canvas-controller__scroll-container [data-task="DebugTask"][data-visualizer="default"].untouched .html-plugin-node,
[data-task="DebugTask"][data-visualizer="number"].untouched .html-plugin-node {
	display: flex;
}

[data-task="DebugTask"][data-visualizer="color"].untouched .html-plugin-node ,
[data-task="DebugTask"][data-visualizer="richtext"].untouched .html-plugin-node ,
[data-task="DebugTask"][data-visualizer="animatedgridcanvas"].untouched .html-plugin-node ,
[data-task="DebugTask"][data-visualizer="gridcanvas"].untouched .html-plugin-node ,
[data-task="DebugTask"][data-visualizer="xycanvas"].untouched .html-plugin-node  {
	display: block;
}

[data-task="DebugTask"][data-visualizer="number"].untouched .html-plugin-node__h-100,
[data-task="DebugTask"][data-visualizer="color"].untouched .html-plugin-node__h-100,
[data-task="DebugTask"][data-visualizer="richtext"].untouched .html-plugin-node__h-100,
[data-task="DebugTask"][data-visualizer="animatedgridcanvas"].untouched .html-plugin-node__h-100 ,
[data-task="DebugTask"][data-visualizer="gridcanvas"].untouched .html-plugin-node__h-100 ,
[data-task="DebugTask"][data-visualizer="xycanvas"].untouched .html-plugin-node__h-100  {
	display: flex;
}


.container__background {
	background: #f2f2f2;
}

.container__ui-view .ui-view-layout__container-row {
	background: white;
	padding: 40px;
}

.form-control__object-list-node {
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative;
}

.form-control__object-list-node-controls {
	padding: 20px;
}

.form-control__object-list-node-delete {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 2;
}
.form-control__object-list-node-grip {
	position: absolute;
	right: -1px;
	top: -1px;
	z-index: 2;
	color: #d0d0d0;
}

.form-control__hash-map-heading {
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative;
	padding: 0 20px;
}

.form-control__hash-map-title {
	padding: 20px;
}

.form-control__hash-map-details {
	margin-bottom: 20px;
}

.form-control__hash-map-details .html-plugin-node {
	background: #f2f2f2 !important;
}

.editor-class {
	background-color:white;
	padding: 1rem;
	border: 1px solid #ccc;
}
.toolbar-class {
	border: 1px solid #ccc;
}

.richtext-visualizer p:only-child {
	margin-bottom: 0;
}

.form-control__object-list-node--sorting {
	filter: opacity(.5);
}

.form-control__object-list-node--sortable {

}



.background-yellow {
	.canvas__html-shape-bar {
		background: #f0e938 !important;
	}
	.canvas__html-shape-body {
		background: #fbf791 !important;
	}
	.html-plugin-node {
		background: #fbf791 !important;
	}

	--thumb-color : #f0e938;
}

.background-dark-yellow {
	.canvas__html-shape-bar {
		background: #fbf791 !important;
	}

	.canvas__html-shape-body {
		background: #f0e938 !important;
	}

	.html-plugin-node {
		background: #f0e938 !important;
	}

	--thumb-color : #f0e938;
}

.background-orange {

	.canvas__html-shape-bar {
		background: #f8a523 !important;
	}
	.canvas__html-shape-body {
		background: #f4c67d !important;
	}
	.html-plugin-node {
		background: #f4c67d !important;
	}

	--thumb-color : #f4c67d;
}

.background-dark-orange {
	.canvas__html-shape-bar {
		background: #f4c67d !important;
	}

	.canvas__html-shape-body {
		background: #f8a523 !important;
	}

	.html-plugin-node {
		background: #f4c67d !important;
	}

	--thumb-color : #f4c67d;
}


.background-blue {
	.canvas__html-shape-bar {
		background: #36a4f9 !important;
	}
	.html-plugin-node {
		background: #86c6f8 !important;
	}
	.canvas__html-shape-body {
		background: #86c6f8 !important;
	}
	--thumb-color : #36a4f9;
}

.background-dark-blue {
	.canvas__html-shape-bar {
		background: #86c6f8 !important;
	}

	.html-plugin-node {
		background: #36a4f9 !important;
	}

	.canvas__html-shape-body {
		background: #36a4f9 !important;
	}
	--thumb-color : #36a4f9;
}


.background-green {
	.canvas__html-shape-bar {
		background: #3bee76 !important;
	}
	.html-plugin-node {
		background: #7df4a4 !important;
	}
	.canvas__html-shape-body {
		background: #7df4a4 !important;
	}
	--thumb-color : #3bee76;
}

.background-dark-green {

	.canvas__html-shape-bar {
		background: #7df4a4 !important;
	}

	.html-plugin-node {
		background: #3bee76 !important;
	}

	.canvas__html-shape-body {
		background: #3bee76 !important;
	}
	--thumb-color : #3bee76;
}


.background-purple {
	.canvas__html-shape-bar {
		background: #cc8aee !important;
	}
	.html-plugin-node {
		background: #e2bcf5 !important;
	}
	.canvas__html-shape-body {
		background: #e2bcf5 !important;
	}
	--thumb-color : #cc8aee;
}

.background-dark-purple {
	.canvas__html-shape-bar {
		background: #e2bcf5 !important;
	}

	.html-plugin-node {
		background: #cc8aee !important;
	}

	.canvas__html-shape-body {
		background: #cc8aee !important;
	}
	--thumb-color : #cc8aee;
}

.static-control__form-node-input-as-label {
	word-break: break-word;
}

[data-html-plugin="formNode"]:not[data-task="FormTask"] .form-control:disabled {
	cursor: pointer;
}

/*height: 100px;*/
/*height: 100px;*/
/*width: 200px;*/

[data-html-plugin="shapeNode"] {
	

	.canvas__html-shape-bar {
		height: 100vh;
		background: transparent;
    	z-index: 10;
	}

	.canvas__html-shape-bar-title {
		margin: 0 auto;
		text-align: center;
		font-size: 1.8rem;
		line-height: 1.2;
    	word-break: break-all;
		font-weight: 700;
		text-shadow: 0px 0px 5px rgb(255 255 255);
	}

	.canvas__html-shape-bar-icon {
		display: none;
	}
	&:hover .canvas__html-shape-bar-icon {
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	&:hover {
		.canvas__html-shape-bar-icon:nth-child(2) {
			right: 30px;
		}
		.canvas__html-shape-bar-icon:last-child {
			right: 10px;			
		}
	}

	.canvas__html-shape-thumb-start {
		top: calc(50% - 6px);
	}

	.canvas__html-shape-thumb-end {
		top: calc(50% - 6px);
	}

	.canvas__html-shape-body {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		background: transparent;
		
		min-height: auto;
		transform: translate(-50%,-50%);

		.html-plugin-node {

			&::before {
				display: none;;
			}
		}
	}

	.canvas__html-shape-bar--selected + .canvas__html-shape-body {
		filter: brightness(5)  drop-shadow(0px 0px 5px rgba(0,0,0,1));
	}

	.html-plugin-node__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

[data-task="StateChangeTriggerTask"],
[data-task="OnStartFlow"] {
	.canvas__html-shape-bar {
		background: transparent;
		width: 64px;
		height: 64px;
		z-index: 30;
	}

	.canvas__html-shape-bar-title {
		display: none;
	}

	.canvas__html-shape-body {
		z-index: 20;
		background: black;
    	border-radius: 32px;
	}

	.html-plugin-node__label {
		position: absolute;
		bottom: 100%;
		left: 0;
		font-size: 32px;
		font-weight: 700;
		white-space: nowrap;
		transform: translateX(-50%);
		left: 50%;
	}

	.icon-wrapper {
		margin: 0;
		display: flex;
		align-items: center;
	}

	.icon-wrapper svg {
		color: white;
		height: 30px;
	}

	&[data-html-plugin="shapeNode"]:hover .canvas__html-shape-bar-icon {
		top: 0;
		right: -20px;
	}
}

[data-task="StartState"] {
	.canvas__html-shape-bar {
		background: black;
		border-radius: 50%;
		width: 64px;
		height: 64px;
	}

	.canvas__html-shape-bar-title {
		display: none;
	}

	.html-plugin-node__label {
		position: absolute;
		bottom: 100%;
		left: 0;
		font-size: 32px;
		font-weight: 700;
		white-space: nowrap;
		transform: translateX(-50%);
		left: 50%;
	}

	&[data-html-plugin="shapeNode"]:hover .canvas__html-shape-bar-icon {
		top: 0;
		right: -20px;
	}
}

[data-task="State"] {
	.canvas__html-shape-bar {
		background: #e2e2e2;
		border-radius: 10px;
		border: 2px solid black;
	}

	&.state-active .canvas__html-shape-bar {
		background: #86c6f8;
		border: 2px solid #36a4f9;
	}
}

[data-task="Event"] {
	.canvas__html-shape-bar {
		border: 0 none transparent;
		border-radius: 10px;
		background: #c2c2c2;
	}
}

[data-task="Guard"] {
	.canvas__html-shape-bar {
		border: 2px solid #f8a523;
		border-radius: 10px;
		background: #f4c67d;
	}
}

.edit-bundle {
	.taskbar {
		top: 16px;
		height: calc(100% - 32px);
	}

	.canvas-controller__scroll-container {
		height: calc(100vh - 400px);
    	min-height: 400px;
	}

	.konvajs-content {
		margin-bottom: 0;
	}
	
}

.rdw-editor-toolbar {
	position: sticky;
	top: 0;
	background: white;
	z-index: 2;
}

.floating-toolbar {
	position: fixed;
	z-index: 3;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	height: 32px;
	background: white;
	border: 1px #c2c2c2 solid;
	border-radius: 3px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	gap: 10px;
}

.canvas__html-shape-thumb-female-indicaator {
	position: relative;
	width: 2px;
	height: 8px;
	background: white;
	border-radius: 6px;
	left: 4px;
    top: -6px;
    display: inline-block
}

.canvas__html-shape-thumb-endtop {
	.canvas__html-shape-thumb-female-indicaator {
		width: 8px;
		height: 2px;
		top: -12px;
	}
}

#flowstudio-root .container-fluid {
    height: calc(100% - 80px);
    padding-top: 80px;
}

#flowstudio-root .container-fluid .ui-editor__row {
    height: calc(100vh);
}

[data-task="FormTask"] {
	.canvas__html-shape-bar {
		outline: 2px solid #a2a2a2;
		z-index: 2;
		border-radius: 2px;
	}

	.canvas__html-shape-body {
		outline: 2px solid #a2a2a2;
		border-radius: 0;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
	}
}

.icon-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
    margin-top: 10px;
}

.icon-wrapper svg {
	width: auto;
	height: 20px;
	color: var(--illustrate-color);
}