<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
	<link rel="stylesheet" href="fira_code.css">
	</link>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="bootstrap.min.css">
	</link>
	<link rel="stylesheet" href="/main.css">
	</link>
</head>

<body>
	<div id="flowstudio-root" data-has-login="false" 
		data-has-running-flowrunner="true" data-has-uicontrols="true"></div>
	<script src="/index.bundle.js"></script>
	<script src="/index.plugin.bundle.js"></script>
</body>

</html>