<!DOCTYPE html>
<html>

<head>
	<link rel="preload" href="/svg/game-board-light.svg" as="image">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
	<link rel="stylesheet" href="/fira_code.css">
	</link>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="/bootstrap.min.css">
	</link>
	<link rel="stylesheet" href="/main.css">
	</link>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
</head>

<body>
	<div id="flowstudio-root" data-has-login="false" 
		data-has-running-flowrunner="true" data-has-uicontrols="true"></div>
	<script src="/index.bundle.js"></script>
	<script src="/index.plugin.bundle.js"></script>
</body>

</html>