.auto-form-step {

	&__body {
		.navbar {
			padding: 20px;
		}
	}

	h1 {
		font-size : 1.8rem;
	}

	.html-plugin-node {
		pointer-events: auto;
		user-select: auto;
	}

	[data-task="DebugTask"] {
		flex: 1 1 100%;
		width: 100% !important;
	}

	.text-visualizer  {
		width: 100%;
	}

	[data-task="FormTask"] {
		flex: 1 1 100%;
		width: 100% !important;
		min-height: auto !important;
		height: auto !important;
	}

	[data-task="FormTask"] .canvas__html-shape-body {
		outline: none;
	}
}